.slide-nav {
  width: 60%;
  height: 9.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  color: #f1f1f1;

  &__icon-box {
    width: 33.333%;
    text-align: center;

    &--active {
      border-bottom: 4px solid rgb(104, 37, 255);
      color: rgb(104, 37, 255);
    }
  }

  &__icon {
    height: 4rem;
    margin-top: 1rem;
  }

  &__icon-text {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
}
