.trans-details {
  &__text {
    font-size: 1.2rem;
    color: #6825ff;
    width: 14rem;

    &--big {
      font-size: 1.8rem;
      font-weight: 600;
      color: #f1f1f1;
      margin-top: -0.4rem;
    }
  }
}
