* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-size: 1.6rem;

  &__nav-item {
    &:last-child {
      color: #6825ff;
    }
  }
}

.footer {
  font-size: 1.3rem;
  color: #f1f1f1;
}

.cta {
  &__btn {
    &-text {
      font-size: 1.6rem;
      font-weight: 200;

      &--pupple {
        font-weight: 300;
        color: rgb(104, 37, 255);
      }
    }

    &-text ~ p {
      font-size: 3.2rem;
      font-weight: 300;
    }
  }

  &__text {
    font-size: 4.8rem;
    font-weight: 100;
    width: 85%;
  }

  &__text-bold {
    margin-left: 1.1rem;
  }
}

.spot-light {
  &__card {
    text-align: center;

    &-text {
      font-size: 1.6rem;
      font-weight: 300;
      color: #f1f1f1;
    }
  }
}

.partners {
  &__heading {
    font-size: 3rem;
    font-weight: 100;
    color: #363636;
  }
}
